@media (prefers-color-scheme: dark) {
    body {
        background-color: #333333;
        color: #f4f5f7;
    }

    .block {
        background-color: rgba(51,51,51,.5);
    }
}
@media (prefers-color-scheme: light) {
    body {
        background-color: #f4f5f7;
        color: #333333;
    }

    .block {
        background-color: rgba(244,245,247,.5);
    }
}

body {
    font-family: 'Nunito', "BIZ UDゴシック", 'BIZ UDGothic', "Meiryo UI", MeiryoUI, "メイリオ", Meiryo, "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
    overflow: hidden;
}

a:link {
    color: #a0c238;
    text-decoration: none;
}

a:visited {
    color: #b8df40;
    text-decoration: none;
}

.block {
    display: block;
    position: relative;
    top: 100px;
    left: 200px;
    width: 390px;
    border-radius: 10px 10px 10px 10px;
    transform: translateY(10%);
}

p {
    
}

h3 {
    font-size: 24px;
    top: 50px;
}

footer {
    font-size: 12px;
}


img[src$="rusk.png"] {
    position: absolute;
    top: 25px;
    right: -280px;
    width: 1024px;
    object-fit: cover;
    overflow: hidden;
}

@media screen and (max-width: 1366px) {
    img[src$="rusk.png"] {
        top: 25px;
        right: -150px;
        width: 720px;
    }
}
@media screen and (max-width: 1100px) {

    .block {
        position:relative;
        top: 100px;
        right:0px;
        left: 10px;
        transform: translateX(10%);
    }
}
@media screen and (max-width: 880px) {

    .block {
        top: 350px;

    }
}

@media screen and (max-width: 600px) {
    img[src$="rusk.png"] {
        right: 0px;
        left: 15px;
        width: 720px;
    }

    .block {
        top: 350px;
        font-size: 60%;
        width: 240px;
        transform: translateX(10%);
    }
}

@media screen and (max-height: 460px) {

    .block {
        top: 100px;
        font-size: 60%;
        width: 240px;
    }

    img[src$="rusk.png"] {
        top: 15px;
        right: -300px;
        left: unset;
        transform: translateX(10%);
    }
}