

body {
    font-family: 'Nunito', "BIZ UDゴシック", 'BIZ UDGothic', "Meiryo UI", MeiryoUI, "メイリオ", Meiryo, "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
    overflow: hidden;
    background-color: #333333;
    color: #f4f5f7;
    width: 100vw;
    height: 100%;
}

a:link {
    color: #a0c238;
    text-decoration: none;
}

a:visited {
    color: #b8df40;
    text-decoration: none;
}

.block {
    background-color: rgba(51,51,51,.5);
    display: block;
    position: relative;
    top: 100px;
    left: 200px;
    width: 390px;
    border-radius: 10px 10px 10px 10px;
    transform: translateY(10%);
    max-width: 100%;
}


h3 {
    font-size: 24px;
    top: 50px;
}

footer {
    font-size: 75%;
}

.title_image {
    width: 330px;
    position: relative;
    right: 131.2px;
    top: 29px;
}



.rusk-image {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-position: right -280px top 25px;
    background-image: url("rusk.png");
    background-size: 1024px;
    background-repeat: no-repeat;
    overflow: clip;
    margin: 0 auto;
    max-width: 100%;
}

@media screen and (max-width: 1366px) {
    .rusk-image {
        background-position: right -150px top 25px;
        background-size: 720px;
    }
}
@media screen and (max-width: 1100px) {

    .block {
        position:relative;
        top: 100px;
        right:0vw;
        left: 0.9vw;
        transform: translateX(10%);
    }

    .title_image {
        width: 330px;
        right: unset;
        top: unset;
    }
}
@media screen and (max-width: 880px) {

    .block {
        top: 350px;

    }
}

@media screen and (max-width: 600px) {
    .block {
        top: 350px;
        font-size: 3.2vw;
        width: 80vw;
        transform: translateX(10%);
    }

    .rusk-image {
        background-position: left top 15px;
        background-size: 720px;
    }

    .title_image {
        width: 55vw;
    }
}

@media screen and (max-height: 460px) {

    .block {
        top: 100px;
        font-size: 1.6vw;
        width: 40vw;
    }

    .rusk-image {

        background-position: right -280px top 15px;
        transform: translateX(10%);
    }

    .title_image {
        width: 32vw;
        top: 1.2vw;
    }
}